@import "../../Styling/variables.module";
@import "../../Styling/mixins.module";
@import "../../Styling/fonts.module";
@import "../../Styling/reset.module";

// ? Universal styling


.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: $border-radius;
}

.card-item,
.info-host {
    position: relative;
    text-align: center;
    border-radius: $border-radius;
}

.image {
    // position: fixed;
    width: 43.5vw;
    height: 60vw;
    object-fit: cover;
    // to do
    // object-position:
    border-radius: $border-radius;
}

.card-heading {
    position: absolute;
    color: $main-font-colour-light;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px $army-green;
}
// .cards-container {
//     display: flex;
//     // flex-wrap: no-wrap;
//     flex-direction: column;
//     justify-content: center;
//     background: pink;
//     width: auto;
// }

// .image {
//     display: block;
//     width: 100%;
//     height: auto;
//     border-radius: 20px;
// }

// // .wrapper {
// //     width: auto;
// //     margin: 20px auto;
// //     background-color: yellow;
// // }

// // .cards-container
// .card-item {
//     width: 50%;
//     align-self: center;
//     // padding: 10px;
// }

// .cards-container .card-inner {
//     border-radius: 20px;
// }

// .cards-container .card-top {
//     width: 100%;
//     min-height: 225px;
//     padding: 10px;
//     padding-bottom: 0;
// }

// .cards-container .card-bottom {
//     padding: 15px;
// }

// .cards-container .card-bottom .card-category {
//     text-transform: uppercase;
//     text-align: center;
// }

// .cards-container .card-bottom .card-info {
//     padding: 15px;
//     margin: 10px 0;
//     border: 1px dashed #0071bc;
// }

// .cards-container .card-bottom .card-info .title {
//     color: #0071bc;
//     font-size: 18px;
//     margin-bottom: 5px;
// }

// .cards-container .card-bottom .card-creator {
//     text-align: center;
// }
// ? Media Queries
// Based on Bootstrap breakpoints

// * X-Small = Less than 576px - small mobile devices
@include x-small {
    .cards-container .card-top {
        height: auto;
    }
    .cards-container .card-item {
        width: 100%;
    }
}

// * Small = Less than 768px - mobile devices
@include small {
    .cards-container .card-item {
        width: 50%;
    }
}

// * Medium = Less than 992px - tablets
@include medium {
    .cards-container .card-item {
        width: 33.3%;
    }
}

// * Large = Less than 1200px - small desktops
@include large {
    .cards-container .card-item {
        width: 33.3%;
    }
}

// * Extra Large = Less than 1399px - medium desktops
@include extra-large {
    .cards-container .card-item {
        width: 33.3%;
    }
}

// * Extra EXTRA Large = More than 1400px - medium desktops
@include extra-extra-large {
    .cards-container .card-item {
        width: 33.3%;
    }
}
