@import "../../Styling/variables.module";
@import "../../Styling/mixins.module";
@import "../../Styling/fonts.module";
@import "../../Styling/reset.module";

// ? Universal styling

.card-container {
    font-family: $main-font-font-family;
    color: $army-green;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;
    // align-content: center;
    // width: 100vw;
    // background-color: pink;
}

.card-item {
    width: 90vw;
    height: 70vh;
    margin-bottom: 5vh;
    border-radius: $border-radius;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.image-container {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    height: 70%;
}

.image {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.content {
    padding: 1vh 5vw 1vh 5vw;
}

.title {
    // padding-top:
    font-size: 2.5rem;
    padding-top: 2vh;
}

.hr {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    // color: red;
}

.info-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.5vh;
    font-size: 1.2rem;
}

.description {
    padding-top: 1vh;
    text-align: justify;
    text-align-last: none;

    font-size: 1.5rem;
}

.description-link {
    margin-top: 1vh;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bolder;
}

// ? Media Queries
// Based on Bootstrap breakpoints

// * Small = Less than 768px - mobile devices
@include small {
}

// * Medium = Less than 992px - tablets
@include medium {
    .card-item {
        width: 44vw;
        // height: 70vh;
    }

    .content {
        padding: 1vh 2vw 1vh 2vw;
    }
}

// * Large = Less than 1200px - small desktops
@include large {
    .card-item {
        width: 44vw;
        // height: 95vh;
    }

    .content {
        padding: 1vh 2vw 1vh 2vw;
    }
}

// * Extra Large = Less than 1399px - medium desktops
@include extra-large {
    .card-item {
        width: 44vw;
        // height: 95vh;
    }

    .content {
        padding: 1vh 2vw 1vh 2vw;
    }
}

// * Extra EXTRA Large = More than 1400px - medium desktops
@include extra-extra-large {
    .card-item {
        width: 44vw;
        // height: 95vh;
    }

    .content {
        padding: 1vh 2vw 1vh 2vw;
    }
}
