@import "../../Styling/variables.module";
@import "../../Styling/mixins.module";
@import "../../Styling/fonts.module";
@import "../../Styling/reset.module";

// ? Universal styling

.test-container {
    width: 100%;
    height: 100vh;

    overflow: hidden;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    //   width: 100%;
    //   height: 100%;
    color: $army-green;
    // background-color: green;
    padding-bottom: 15vh;
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: auto;
    font-family: $main-font-font-family;
    font-size: 1rem;

    // padding-bottom: 2.5vh;
    // margin-top: 20vh;
    // background-color: pink;
}

.heading {
    padding-top: 5vh;
    // padding-bottom: 2vh;
    display: flex;
    justify-content: flex-start;
    font-size: 3.5rem;
}

/////////////////////////////
.image-container {
    position: relative;
    text-align: center;
    cursor: pointer;
    width: 100vw;
    height: 90vh;
    // border: 2px solid green;
    margin-left: -5vw;
    padding-top: 10vh;
    // border: 2px solid blue;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heading-image {
    width: 50vw;
    position: absolute;
    color: $off-white;
    // transform: translate(-50%, -50%);
    text-shadow: 1px 1px $army-green;
    font-size: 4.5rem;
    text-align: left;
    top: 12vh;
    left: 5vw;
    // border: 2px solid blue;
}

// ? Media Queries
// Based on Bootstrap breakpoints

// * X-Small = Less than 576px - small mobile devices
@include x-small {
    // .heading-image {
    //     top: 12vh;
    //     left: 5vw;

    //     font-size: 6.5rem;
    //     width: 50vw;
    // }
}

// * Small = Less than 768px - mobile devices
@include small {
    .heading-image {
        top: 12vh;
        left: 5vw;

        font-size: 6.5rem;
        width: 50vw;
    }
}

// * Medium = Less than 992px - tablets
@include medium {
    .content-container {
        max-width: 80vw;
    }

    .image-container {
        width: 100vw;
        height: 88vh;
        margin-left: -10vw;
    }

    .heading-image {
        top: 12vh;
        left: 5vw;

        font-size: 8rem;
        width: 50vw;
    }

    .image {
        object-position: 10% 31%;
    }
}

// * Large = Less than 1200px - small desktops
@include large {
    .content-container {
        max-width: 70vw;
    }

    .image-container {
        width: 100vw;
        height: 88vh;
        margin-left: -15vw;
    }

    .heading-image {
        top: 12vh;
        left: 5vw;

        font-size: 10rem;
        width: 40vw;
    }

    .image {
        object-position: 10% 31%;
    }
}

// * Extra Large = Less than 1399px - medium desktops
@include extra-large {
    .content-container {
        max-width: 60vw;
    }

    .image-container {
        width: 100vw;
        height: 88vh;
        margin-left: -20vw;
    }

    .heading-image {
        top: 12vh;
        left: 5vw;

        font-size: 10rem;
    }

    .image {
        object-position: 10% 31%;
    }
}

// * Extra EXTRA Large = More than 1400px - medium desktops
@include extra-extra-large {
    .content-container {
        max-width: 50vw;
    }

    .image-container {
        width: 100vw;
        height: 88vh;
        margin-left: -25vw;
    }

    .heading-image {
        top: 12vh;
        left: 5vw;
        font-size: 10rem;
    }

    .image {
        object-position: 10% 31%;
    }
}
