@import "../../Styling/variables.module";
@import "../../Styling/mixins.module";
@import "../../Styling/fonts.module";
@import "../../Styling/reset.module";

// ? Universal styling

.test-container {
    width: 100%;
    height: 100vh;

    overflow: hidden;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    //   width: 100%;
    //   height: 100%;
    color: $army-green;
    // background-color: green;
    padding-bottom: 15vh;
    padding-top: -10vh;

    overflow: hidden;
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: auto;
    font-family: $main-font-font-family;
    // font-size: 1rem;

    // padding-bottom: 2.5vh;
    // margin-top: 20vh;
    // background-color: pink;
}

.heading {
    // padding-top: 5vh;
    // padding-bottom: 2vh;
    padding: 5rem 2rem 5rem 2rem;
    display: flex;
    justify-content: flex-start;
    font-size: 3.5rem;

    text-align: center;
}

.image-container {
    position: relative;
    text-align: center;
    cursor: pointer;
    width: 100vw;
    height: 100vh;
    // border: 2px solid green;
    margin-left: -5vw;
    // margin-top: 10vh;
    // border: 2px solid blue;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heading-image {
    width: 50vw;
    position: absolute;
    color: $off-white;
    // transform: translate(-50%, -50%);
    text-shadow: 2px 2px $army-green;
    font-size: 4.5rem;
    text-align: left;
    top: 12vh;
    left: 5vw;
    // border: 2px solid blue;
}

.button-container {
    cursor: pointer;
    width: 95vw;
    position: absolute;
    text-align: right;
    top: 75vh;
    left: 0vw;
    // border: 2px solid blue;
}

.button {
    font-family: $main-font-font-family;
    color: $main-font-colour;
    font-weight: bold;
    background-color: $main-font-colour-light;
    box-shadow: 5px 8px 15px rgba(56, 89, 68, 0.8);

    font-size: 1.7rem;
    margin-top: 2vh;
    padding: 1.2vh 5vw 1.2vh 5vw;
    border-radius: 25px;
    border: none;

    cursor: pointer;

    &:focus {
        color: $light-green;
        font-weight: bold;
    }
}

/* solves sticky problem */
@media (hover: hover) {
    button:hover {
        color: $light-green;
        font-weight: bold;
    }
}

.card-container {
    width: 90vw;
    // border: 2px solid orange;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

// ? Media Queries
// Based on Bootstrap breakpoints

// * X-Small = Less than 576px - small mobile devices
@include x-small {
}

// * Small = Less than 768px - mobile devices
@include small {
    .heading-image {
        font-size: 6.5rem;
        text-shadow: 3px 3px $army-green;
    }

    .heading {
        text-align: left;
    }
    .button-container {
        font-size: 4.5rem;
        top: 80vh;
        text-shadow: 3px 3px $army-green;
    }
}

// * Medium = Less than 992px - tablets
@include medium {
    .content-container {
        max-width: 80vw;
    }

    .image-container {
        width: 100vw;
        height: 78vh;
        margin-left: -10vw;
    }

    .heading-image {
        top: 5vh;
        left: 5vw;

        font-size: 8rem;
        width: 50vw;
        text-shadow: 3px 3px $army-green;
    }
    .button-container {
        font-size: 4.5rem;
        top: 67vh;
        text-shadow: 3px 3px $army-green;

        // border: 2px solid blue;
    }

    .image {
        object-position: 10% 31%;
        // height: 78vh;
    }
}

// * Large = Less than 1200px - small desktops
@include large {
    .content-container {
        max-width: 70vw;
    }

    .image-container {
        width: 100vw;
        height: 77vh;
        margin-left: -15vw;
    }

    .heading-image {
        top: 5vh;
        left: 5vw;

        font-size: 10rem;
        width: 40vw;
        text-shadow: 3px 3px $army-green;
    }

    .image {
        object-position: 10% 31%;
    }
    .button-container {
        font-size: 4.5rem;
        top: 65vh;
        text-shadow: 3px 3px $army-green;

        // border: 2px solid blue;
    }
}

// * Extra Large = Less than 1399px - medium desktops
@include extra-large {
    .content-container {
        max-width: 60vw;
    }

    .image-container {
        width: 100vw;
        height: 77vh;
        margin-left: -20vw;
    }

    .heading-image {
        top: 5vh;
        left: 5vw;

        font-size: 10rem;
        text-shadow: 3px 3px $army-green;
    }

    .image {
        object-position: 10% 31%;
    }

    .button-container {
        font-size: 5.5rem;

        top: 65vh;
        text-shadow: 3px 3px $army-green;
    }
}

// * Extra EXTRA Large = More than 1400px - medium desktops
@include extra-extra-large {
    .content-container {
        max-width: 50vw;
    }

    .image-container {
        width: 100vw;
        height: 77vh;
        margin-left: -25vw;
    }

    .heading-image {
        top: 5vh;
        left: 5vw;
        font-size: 10rem;
    }

    .image {
        object-position: 10% 31%;
    }

    .button-container {
        font-size: 5.5rem;
        top: 60vh;
        text-shadow: 3px 3px $army-green;

        // border: 2px solid blue;
    }
}
