@import "../../Styling/variables.module";
@import "../../Styling/mixins.module";
@import "../../Styling/fonts.module";
@import "../../Styling/reset.module";

// ? Universal styling

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 80vh;
    color: $army-green;
    // background-color: green;
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: auto;
    font-family: $main-font-font-family;
    font-size: 1rem;

    // padding-bottom: 2.5vh;
    // margin-top: 20vh;
    // background-color: pink;
}

.heading {
    padding-top: 5vh;
    padding-bottom: 2vh;
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

// ? Media Queries
// Based on Bootstrap breakpoints

// * X-Small = Less than 576px - small mobile devices
@include x-small {
}

// * Small = Less than 768px - mobile devices
@include small {
}

// * Medium = Less than 992px - tablets
@include medium {
    .content-container {
        max-width: 80vw;
    }
}

// * Large = Less than 1200px - small desktops
@include large {
    .content-container {
        max-width: 70vw;
    }
}

// * Extra Large = Less than 1399px - medium desktops
@include extra-large {
    .content-container {
        max-width: 60vw;
    }
}

// * Extra EXTRA Large = More than 1400px - medium desktops
@include extra-extra-large {
    .content-container {
        max-width: 50vw;
    }
}
