@import "../../Styling/variables.module";
@import "../../Styling/mixins.module";
@import "../../Styling/fonts.module";
@import "../../Styling/reset.module";
@import "../../UI/Button/Button.module.scss";

// // .hide {
// //     display: none;
// // }

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: $dusty-pink;
}

.msgbox {
  //   margin-top: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 50vw;
  padding: 2rem;
  // background: $dark-green;
  border-radius: 2rem;
}

.heading {
  font-family: $sub-heading-font-family;
  text-align: center;
  color: $main-font-colour-light;
}
