@import "../../Styling/variables.module";
@import "../../Styling/mixins.module";
@import "../../Styling/fonts.module";
@import "../../Styling/reset.module";

// ? Universal styling

// .image {
//     object-fit: cover;
//     object-position: 20% 50%;
//     height: 100vh;
//     width: 100vw;
//     // border: 10px solid white;
// }

.image1,
.image2,
.image3,
.image4,
.image5,
.image6,
.image7 {
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    // border: 10px solid white;
}

.image1 {
    object-position: 100% 50%;
}

.image2 {
    object-position: 10% 50%;
}

.image3 {
    object-position: 80% 50%;
}

.image4 {
    object-position: 35% 50%;
}

.image5 {
    object-position: 100% 50%;
}

.image6 {
    object-position: 65% 50%;
}

.image7 {
    object-position: 50% 50%;
}
// ? Media Queries
// Based on Bootstrap breakpoints

// * X-Small = Less than 576px - small mobile devices
@include x-small {
}

// * Small = Less than 768px - mobile devices
@include small {
}

// * Medium = Less than 992px - tablets
@include medium {
}

// * Large = Less than 1200px - small desktops
@include large {
}

// * Extra Large = Less than 1399px - medium desktops
@include extra-large {
}

// * Extra EXTRA Large = More than 1400px - medium desktops
@include extra-extra-large {
}
