*,
*::before,
*::after {
<<<<<<< HEAD
    margin: 0;
    padding: 0;

    // font-family: $main-font-font-family;
=======
  margin: 0;
  padding: 0;
  // !! Make sure this is removed in main!
  // font-family: $main-font-font-family;
>>>>>>> 4919e3b2a9a1ebcf66b7fa97bd8dfe20a2361b74
}

:root {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}
