// ? Colour Palette

$white: #f5f5f5;

// Greens
$darkest-green: #223f31;
$dark-green: #3b6149;
$mid-green: #395e40;
$light-green: #788e62;
$pale-green: #5c6b4b;

// ! - do we want this one?
// $creamy-green: #e7e6d1;

// Neutral tones
$grey: #bebdae;
$cream: #f4ecda;
$darker-cream: #ecd9bf;
$eggshell: #efe6da;

// Yellows
$golden: #f3cf4a;
$ochre: #be871a;
$orange: #e28b38;

// Pinks
$dusty-pink: #dbbfb0;

// ! - do we want browns?
// Browns
// $dark-brown: #4a2c17;
// $light-brown: #c2ae9c;
