// ? Colour Palette

$white: #f5f5f5;
$off-white: #f2f2f2;

// Greens
$dark-green: #385944;
$light-green: #a3a646;
$army-green: #595020;

// Neutrals
$cream: #f2ebdc;
$dusty: #d9bbb0;

// Warm colours
$orange: #d98236;
$yellow: #f2c849;

// ! yes or no?..
$brown: #593a2f;
