// ? Colour Palette

$white: #f5f5f5;
$off-white: #f2f2f2;

// Greens
$dark-green: #385944;
$light-green: #a3a646;
$army-green: #595020;

// Neutrals
$cream: #f2ebdc;
$dusty-pink: #d9bbb0;

// Placeholder in search form
$light-grey: #d3d3d3;

// Warm colours
$orange: #d98236;
$yellow: #f2c849;

$google-pin-colour: #c32a29;

// Border radius for images/dashboard
$border-radius: 15px;

// ? Fonts Variables
// ! "Roboto Regular" is set as the _reset (default) font

// ? Font Colours
// main font colour is $dark-green with grey mixed in
$main-font-colour: #34523e;
// main font colour is $cream darkened a little for when we have a dark background
$main-font-colour-light: #ece4d0;

// ? Font Family
// Todo Which fallback font shall we use? - Roboto is in the serif family
// ? Main Font variables
$main-font-font-family: "Roboto Regular", sans-serif;
$sub-heading-font-family: "Roboto Bold", sans-serif;

// ? All font variables from @font-face
$roboto-regular-font-family: "Roboto Regular", sans-serif;
$roboto-italic-font-family: "Roboto Italic", sans-serif;
$roboto-bold-font-family: "Roboto Bold", sans-serif;
$roboto-bold-italic-font-family: "Roboto Bold Italic", sans-serif;
$roboto-thin-font-family: "Roboto Thin", sans-serif;
$roboto-thin-italic-font-family: "Roboto Thin Italic", sans-serif;
$roboto-light-font-family: "Roboto Light", sans-serif;
$roboto-light-italic-font-family: "Roboto Light Italic", sans-serif;
$roboto-medium-font-family: "Roboto Medium", sans-serif;
$roboto-medium-italic-font-family: "Roboto Medium Italic", sans-serif;

// Todo Font sizes TBD
// $main-heading-font-size: ;
// $sub-heading-font-size: ;
