@import "../../Styling/variables.module";
@import "../../Styling/mixins.module";
@import "../../Styling/fonts.module";
@import "../../Styling/reset.module";

// ? Universal styling

.logout-modal-container {
    z-index: 3000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(242, 235, 220, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    font-family: $main-font-font-family;
    color: $main-font-colour;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    width: 70vw;
    height: auto;
    background-color: $cream;
    border-radius: 20px;
    padding: 5vw;
    // border: 1px solid;
    // padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.header {
    display: flex;
    justify-content: center;
}

.title {
    margin-top: 1vh;
    font-size: 3rem;
}

.body {
    margin-top: 2vh;
}

.input-logout-button {
    font-family: $main-font-font-family;
    color: $main-font-colour;
    background-color: $orange;
    font-size: 1.7rem;
    margin-top: 2vh;

    padding: 1vh 5vw 1vh 5vw;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

// ? Media Queries
// Based on Bootstrap breakpoints

// * X-Small = Less than 576px - small mobile devices
@include x-small {
    .content {
        width: 70vw;
        padding: 3vw;
    }
}

// * Small = Less than 768px - mobile devices
@include small {
    .content {
        width: 70vw;
        padding: 3vw;
    }
}

// * Medium = Less than 992px - tablets
@include medium {
    .content {
        width: 40vw;
        padding: 3vw;
    }
}

// * Large = Less than 1200px - small desktops
@include large {
    .content {
        width: 40vw;
        padding: 2vw;
    }
}

// * Extra Large = Less than 1399px - medium desktops
@include extra-large {
    .content {
        width: 40vw;

        padding: 2vw;
    }
}

// * Extra EXTRA Large = More than 1400px - medium desktops
@include extra-extra-large {
    .content {
        width: 40vw;
        padding: 2vw;
    }
}
