@import "../../Styling/variables.module";
@import "../../Styling/mixins.module";
@import "../../Styling/fonts.module";
@import "../../Styling/reset.module";

// ? Universal styling

.navbar-container {
    z-index: 6000;
    overflow: hidden;

    background-color: rgba(242, 235, 220, 0.8);
    position: fixed;

    width: 100vw;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;

    // margin-top: 50%;
}

.bgChange {
    background-color: $cream;
}

.icon-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    // background-color: pink;
    width: 80vw;
}

.icon {
    font-size: 2rem;
    color: $main-font-colour;
    cursor: pointer;
}

.logged {
  display: flex;;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  background-color: $dark-green;
  border-radius: 50%;
  font-family: "Roboto Regular";
  font-size: 1.4rem;
  color: $main-font-colour-light;
  cursor: pointer;
} 

// ? Media Queries
// Based on Bootstrap breakpoints

// * X-Small = Less than 576px - small mobile devices
@include x-small {
    .navbar-container {
        bottom: 0;
    }
}

// * Small = Less than 768px - mobile devices
@include small {
    .navbar-container {
        bottom: 0;
    }
}

// * Medium = Less than 992px - tablets
@include medium {
    .navbar-container {
        top: 0;
    }
}

// * Large = Less than 1200px - small desktops
@include large {
    .navbar-container {
        top: 0;
    }
}

// * Extra Large = Less than 1399px - medium desktops
@include extra-large {
    .navbar-container {
        top: 0;
    }
}

// * Extra EXTRA Large = More than 1400px - medium desktops
@include extra-extra-large {
    .navbar-container {
        top: 0;
    }
}
