@import "../../Styling/variables.module";
@import "../../Styling/mixins.module";
@import "../../Styling/fonts.module";
@import "../../Styling/reset.module";

* {
    box-sizing: border-box;
}
// ? Universal styling

.carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90vh;
    // border: 1px solid blue;
}

.carousel-heading {
    font-family: $main-font-font-family;
    // font-family: $sub-heading-font-family;
    font-size: 3.5rem;
    color: $main-font-colour;
    margin-top: 3vh;
    // margin-bottom: 3vh;
    padding-left: 5vw;
}

.carousel {
    // border: 1px solid green;
    width: 90vw;
}
.slide {
    // background: red;
    padding: 1vw;
    // border: 1px solid green;
}

.slide_1,
.slide_2,
.slide_3,
.slide_4,
.slide_5,
.slide_6 {
    margin: 1vw;
    height: 60vh;
    width: auto;
    background-size: cover;
    border-radius: 20px;
    cursor: pointer;
    // border: 1px solid red;
}

.slide_1 {
    background-image: url("./static/pexels-arthouse-studio-4579021.jpg");
}

.slide_2 {
    background-image: url("./static/pexels-taryn-elliott-6861137.jpg");
    // border: 2px solid blueviolet;
}

.slide_3 {
    background-image: url("./static/pexels-pnw-production-9354781.jpg");
}

.slide_4 {
    background-image: url("./static/pexels-matheus-bertelli-1906155.jpg");
}

.slide_5 {
    // mountains
    background-position: 80% 100%;
    background-image: url("./static/pexels-toth-photos-10539693.jpg");
}

.slide_6 {
    // beach
    background-position: 80% 100%;
    background-image: url("./static/pexels-alasdair-braxton-1992889.jpg");
}

// .beach {
//     object-position: 80% 100%;
// }

// .mountains {
//     object-position: 80% 100%;
// }

// ? Media Queries
// Based on Bootstrap breakpoints

// * X-Small = Less than 576px - small mobile devices
@include x-small {
}

// * Small = Less than 768px - mobile devices
@include small {
}

// * Medium = Less than 992px - tablets
@include medium {
    .carousel-container {
        max-width: 90vw;
        margin-left: -5vw;
    }
    .carousel {
        // border: 1px solid green;
        max-width: 80vw;
    }
}

// * Large = Less than 1200px - small desktops
@include large {
    .carousel-container {
        max-width: 80vw;
        margin-left: -5vw;
    }
    .carousel {
        // border: 1px solid green;
        max-width: 70vw;
    }
}

// * Extra Large = Less than 1399px - medium desktops
@include extra-large {
    .carousel-container {
        max-width: 70vw;
        margin-left: -5vw;
    }
    .carousel {
        // border: 1px solid green;
        max-width: 60vw;
    }
}

// * Extra EXTRA Large = More than 1400px - medium desktops
@include extra-extra-large {
    .carousel-container {
        max-width: 60vw;
        margin-left: -5vw;
    }

    .carousel {
        // border: 1px solid green;
        max-width: 50vw;
    }
}
