@import "/src/Styling/variables.module";
@import "/src/Styling/mixins.module";
@import "/src/Styling/fonts.module";
@import "/src/Styling/reset.module";

// ? Universal styling

.search-main-container {
  width: 100vw;
  height: 10vh;

  // !! Min height on search component otherwise it disappears on sideways view
  min-height: 6rem;

  // todo
  // !!  for dev...? or what do we think?
  background-color: $cream;
}

.form-container,
.form {
  display: flex;
  // todo
  // ? Column will come into play once dropdown div is added..
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.search-input {
  width: 70%;
  border: none;
  border-radius: 1rem;

  padding: 0.3rem 1rem 0.3rem 1rem;

  // !! So input field does not zoom in on ios devices
  font-size: 1.6rem;

  &::placeholder {
    font-size: 1.8rem;
    font-style: italic;
    letter-spacing: 0.1rem;
    color: $light-green;

    padding: 2rem 2rem 2rem 0;
    // Magnifying glass search icon as React-icon Components are not permitted inside <input>
    background-image: url("./Static/magnifying-glass.png");
    background-size: 2.5rem;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
  }
}

// ? x-small

@include x-small {
  .search-input {
    height: 3rem;

    &::placeholder {
      font-size: 1.2rem;
    }
  }
}

// ? small

@include small {
  .search-input {
    height: 4rem;

    &::placeholder {
      font-size: 1.6rem;
    }
  }
}

// ? medium

@include medium {
  // !
  // todo - position components so search field will sit under Navbar

  .search-input {
    height: 4rem;
  }
}

// ? large

@include large {
  .search-input {
    height: 4rem;
  }
}

// ? extra-large

@include extra-large {
  .search-input {
    height: 4rem;
  }
}

// ? extra EXTRA large

@include extra-extra-large {
  .search-input {
    height: 4.5rem;
  }
}
