/* ! Refactored default code for Dropdown from "react-dropdown" - once I have time refactor to SCSS with correct measurements  */

.Dropdown-root {
  position: relative;

  font-size: 1.5rem;
  color: #385944;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: none;
  border-radius: 5rem;
  box-sizing: border-box;
  cursor: default;
  outline: none;
  padding: 9px 82px 8px 10px;
  /* !! Added media query for tablet + */
  width: 15rem;
  /* max-width: 16.5rem; */
  /* !! */
  transition: all 200ms ease;

  font-size: 1.3rem;
  color: #d3d3d3;
  font-style: italic;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: " ";
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0;
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: 5px;
  max-height: 100px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
  padding: 8px 10px;
  color: #385944;
  font-weight: bold;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  text-transform: capitalize;
}

.Dropdown-option {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  box-sizing: border-box;
  color: #385944;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}

/* ? Media query for dropdown input sizing to match the rest in search.module.scss .dropdown-section-input  */

@media (min-width: 769px) {
  .Dropdown-control {
    width: 18rem;
  }
}
