@import "../../Styling/variables.module";
@import "../../Styling/mixins.module";
@import "../../Styling/fonts.module";
@import "../../Styling/reset.module";

// ? Map

// .test-container {
//   width: 100vw;

//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.map-container {
  position: relative;

  // !! Probably 80vh for tablet +
  // height: 87vh;
  height: 73vh;
  // width: 88%;
  width: 100%;

  padding: 3rem 3rem 5rem 3rem;
  background-color: white;

  margin-top: 0.5rem;
}

// ? Map close button

.close-map-button {
  position: absolute;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 100;
  width: 4.2rem;
  height: 4.2rem;

  top: 4rem;
  left: 4rem;

  border: none;
  outline: none;
  border-radius: 0.2rem;

  color: $main-font-colour;
  font-size: 1.6rem;
  background-color: $white;
}

// ? Map Markers

.location-marker {
  // position: relative;
  color: $google-pin-colour;
  font-size: 3rem;
}

// ? Location pop-up box

// todo Style like the calendar dropdown (white outer box and cream inner with styled text etc

.location-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inner-location-box {
  position: absolute;
  display: flex;

  align-items: flex-start;

  flex-direction: column;

  top: 10rem;

  width: 80%;
  max-width: 40rem;
  height: 18rem;

  padding: 1rem 1.3rem 1.3rem 2rem;
  border-radius: 1rem;

  background-color: $cream;
  font-family: $roboto-bold-font-family;
}

.close-info-box {
  height: 3rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  margin-bottom: 0.5rem;

  font-family: $roboto-thin-font-family;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  color: $main-font-colour;

  &:focus {
    font-family: $roboto-medium-font-family;
  }
}

@media (hover: hover) {
  .close-info-box:hover {
    font-family: $roboto-medium-font-family; /* solves sticky problem */
  }
}

.img-container {
  // display: flex;
  // justify-self: flex-end;

  // align-self: center;
  // justify-self: center;
  // position: absolute;
  // top: 4.5rem;

  // left: 1.2rem;
  // width: 15rem;

  height: 11rem;
  max-width: 20rem;

  // height: auto;
  // max-height: 15rem;
  object-fit: fill;

  border-radius: 0.6rem;
}

.text-content-container {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;

  height: 80%;
  width: 45%;

  padding: 0 0 0 0.5rem;

  // background-color: red;
}

.location-heading {
  color: $orange;
  padding-bottom: 0.5rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-align: right;
}

.location-address {
  font-family: $main-font-font-family;
  color: $main-font-colour;

  font-size: 1.2rem;
  text-align: right;
}

.liked-and-link-container {
  display: flex;

  align-items: center;
  justify-content: space-between;

  width: 80%;
  padding: 1rem;

  color: $main-font-colour;
}

.liked-container {
  padding-top: 1rem;
  padding-left: 1rem;

  font-size: 1.5rem;

  cursor: pointer;
}

.property-link {
  font-size: 1.1rem;
  letter-spacing: 0.5px;

  cursor: pointer;

  color: $main-font-colour;

  margin-top: 1rem;
  text-decoration: none;

  padding: 0.3rem 1rem 0.3rem 1rem;
  border-radius: 1rem;

  background-color: $white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  &:focus {
    background-color: $cream;
  }
  &:hover {
    background-color: $cream;
  }
}

@media (hover: hover) {
  .property-link:hover {
    background-color: $cream; /* solves sticky problem */
  }
}
// ? Media Queries..

@include x-small {
  .map-container {
    height: 80vh;
  }

  .location-box {
    top: 4.5rem;
  }
}

@include small {
  .map-container {
    // padding-bottom: 10rem;
    height: 80vh;
  }

  .liked-and-link-container {
    width: 60%;
  }
}

@include medium {
  .map-container {
    padding-bottom: 15rem;
  }

  .liked-and-link-container {
    width: 60%;
  }
}

@include large {
  .map-container {
    height: 80vh;
    padding-bottom: 8rem;
  }

  .liked-and-link-container {
    width: 60%;
  }
}

@include extra-large {
  .map-container {
    height: 80vh;
  }

  .liked-and-link-container {
    width: 60%;
  }
}

@include extra-extra-large {
  .map-container {
    height: 80vh;
  }

  .liked-and-link-container {
    width: 60%;
  }
}

@include extra-extra-small {
  .map-container {
    padding: 0;

    height: 80vh;
  }

  .inner-location-box {
    height: 22em;
    width: 100%;
  }
}
