@import "../../Styling/variables.module";
@import "../../Styling/mixins.module";
@import "../../Styling/fonts.module";
@import "../../Styling/reset.module";

// .all-map-content-container {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   width: 100vw;
// }

// ? Map

.map-container {
  display: flex;

  // position: relative;
  // !! Probably 80vh for tablet +
  // height: 87vh;
  height: 90vh;
  width: 100%;

  padding: 3rem 3rem 5rem 3rem;
  background-color: white;

  // todo: should it cover the entire width on desktop +
  //   max-width: 60rem;
}

// ? Map Markers

.location-marker {
  position: relative;
  color: $google-pin-colour;

  font-size: 3rem;
}

// ? Location pop-up box

// todo Style like the calendar dropdown (white outer box and cream inner with styled text etc

.location-box {
  position: absolute;

  top: 20rem;
  right: 5rem;

  width: 20rem;
  min-height: 20rem;

  padding: 2rem;
  background-color: $white;
  border-radius: 2rem;
}

.inner-location-box {
}

.img-container {
  height: 5rem;
  width: auto;

  background-color: red;
}

// ? Media Queries..

@include x-small {
  .location-box {
    top: 12rem;
  }
}

@include small {
  .map-container {
    padding-bottom: 10rem;
  }

  .location-box {
    top: 16rem;
  }
}

@include medium {
  .map-container {
    padding-bottom: 10rem;
  }

  .location-box {
    top: 16rem;
  }
}

@include large {
  .map-container {
    height: 78vh;
    padding-bottom: 8rem;
  }

  .location-box {
    top: 22rem;
  }
}

@include extra-large {
  .map-container {
    height: 80vh;
  }

  .location-box {
    top: 14rem;
  }
}

@include extra-extra-large {
  .map-container {
    height: 80vh;
  }

  .location-box {
    top: 18rem;
  }
}

@include extra-extra-small {
  .map-container {
    padding: 0;
  }
}
