//

// @import "/src/Styling/variables.module";
// @import "/src/Styling/mixins.module";
// @import "/src/Styling/fonts.module";

// ? Universal styling
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: green;
    // color: $main-font-colour-light;
    // font-family: $roboto-medium-font-family;
    height: auto;
    width: 100vw;

    padding: 5rem 0 5rem 0;

    // todo Change to auto when ready
    // !!!
    position: fixed;
    bottom: 0;
}

// // ? x-small

// @include x-small {
// }

// // ? small

// @include small {
// }

// // ? medium

// @include medium {
// }

// // ? large

// @include large {
// }

// // ? extra-large

// @include extra-large {
// }

// // ? extra EXTRA large

// @include extra-extra-large {
// }
