@import "../../Styling/variables.module";
@import "../../Styling/mixins.module";
@import "../../Styling/fonts.module";
@import "../../Styling/reset.module";

// ? Universal styling
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    // color: $main-font-colour;
    // background-color: pink;
}

.image-container {
    position: relative;
    text-align: center;
    font-family: $sub-heading-font-family;
    font-size: 2rem;
    color: $main-font-colour-light;
    // border: 2px solid yellow;
    // width: 100vw;
    // height: 100vh;
}

.heading {
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background-image {
    // position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    // max-width: 900px;
    // border-radius: 30px;
}

.about-button {
    margin-top: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    color: $main-font-colour;
    background-color: $main-font-colour-light;
    border-radius: 25px;
    font-size: 1.7rem;
}

.content-container {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 90vw;
    height: 80vh;
    // background-color: blue;
    font-family: $sub-heading-font-family;
    font-size: 2rem;
}

.carousel {
    border: 1px solid $main-font-colour;
    width: 90vw;
    height: 33.3%;
    border-radius: $border-radius;
    margin-bottom: 5vw;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: $border-radius;
}

.info-guest,
.info-host {
    position: relative;
    text-align: center;
    border-radius: $border-radius;
}

.guest-image,
.host-image {
    // position: fixed;
    width: 43.5vw;
    height: 80vw;
    object-fit: cover;
    border-radius: $border-radius;
}

.heading-guest,
.heading-host {
    position: absolute;
    color: $main-font-colour-light;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px $army-green;
}

// ? Media Queries
// Based on Bootstrap breakpoints

// * X-Small = Less than 576px - small mobile devices
@include x-small {
}

// * Small = Less than 768px - mobile devices
@include small {
}

// * Medium = Less than 992px - tablets
@include medium {
}

// * Large = Less than 1200px - small desktopsge
@include large {
}

// * Extra Large = Less than 1399px - medium desktops
@include extra-large {
}

// * Extra EXTRA Large = More than 1400px - medium desktops
@include extra-extra-large {
}
